.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .h1-text {
    @apply text-3xl md:text-5xl text-black dark:text-white;
  }
  .h2-text {
    @apply text-xl md:text-2xl text-black dark:text-white;
  }
  .p-text {
    @apply text-sm text-black dark:text-white;
  }
  .link-level1-text {
    @apply text-lg font-medium text-gray-700 dark:text-gray-300 hover:text-black dark:hover:text-white;
  }
  .link-level2-text {
    @apply text-sm font-medium text-gray-700 dark:text-gray-300 dark:hover:text-white hover:text-black;
  }
}
